<div class="wild_selector_margin_top">
    <div class="container p-4 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">Agrega un evento</h5>
                    <p class="card-text">La imagen que agregues a continuación aparecera en las campañas principales.
                    </p>
                    <p class="card-text mb-3">Al escribir el nombre de campaña verifica que este escrito correctamente.
                    </p>
                    <form action="/admin/event" method="POST" enctype="multipart/form-data">
                        {{!--
                        title: String,
                        date: Date,
                        price: Number,
                        bookLink: String,
                        lookEventLink: String,
                        paragraph: String,
                        images: [{ type: Schema.Types.ObjectId, ref: 'Image' }],
                        location: { type: Schema.Types.ObjectId, ref: 'Location' },

                        --}}
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" placeholder="Título evento">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="datetime-local" name="date">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" name="price" placeholder="Precio del evento">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="bookLink" placeholder="Liga de registro">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="lookEventLink" placeholder="Liga de evento">
                        </div>
                        <button class="btn btn-primary">Subir foto</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div id="editorjs"></div>
                    <button>Save</button>
                </div>
            </div>
        </div>
    </div>  
</div>