<div class="wild_selector_margin_top">
    <div class="container p-4 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-body">
                    <h2>404</h2>
                    <br>
                    <h3>Ups! Página no encontrada</h3>
                    <br>
                    <p>El archivo especificado no se encontró en este sitio web. Compruebe la URL en busca de errores e
                        inténtelo de
                        nuevo.</p>
                </div>
            </div>
        </div>
    </div>
</div>