<!-- Banner Area -->
<div class="pages_banner">
    <div class="container">
        <h2>Acerca de nosotros</h2>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Conocenos</a></li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Meet kids Area -->
<div class="meet_kids_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 meet_video">
                <div class="video_inner">
                    <img src="images/kids.jpg" alt="" />
                    <span><i class="fa fa-share-alt"></i></span>
                    <a class="popup-youtube" href="https://player.vimeo.com/video/142874198"><i
                            class="fa fa-play"></i></a>
                </div>
                <p>
                    Todas las personas somos diferentes, aceptar la diversidad es el primer paso. Queremos ayudarte a
                    recorrer este camino y acompañarte en el proceso. Nuestra misión es brindarte el soporte para
                    desarrollar al máximo las capacidades de las personas con síndrome de Down y otras condiciones
                </p>
            </div>
            <div class="col-lg-6 story_col">
                <div class="change_story">
                    <div class="media">
                        <div class="media-left m-r-1">
                            <h6>Cambiemos su historia</h6>
                            <a href="https://www.instagram.com/integramedown/?hl=es-la" target="_blank" class="c_name">#Juntos</a>
                            <h6 class="time">
                                <i class="fa fa-heart"></i> No olvides darle a like!
                            </h6>
                        </div>
                        <div class="media-body">
                            <img src="images/kids-sm.jpg" alt="" />
                        </div>
                    </div>
                    <a href="https://www.instagram.com/integramedown/" class="theme_btn">Abrir instagram</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Meet kids Area -->

<!-- About Croudhelp -->
<section class="about_croudhelp">
    <div class="about_img">
        <img src="images/about-1.jpg" alt="" />
    </div>
    <div class="about_content">
        <div class="content">
            <h4>Acerca de Integrame</h4>
            <h2>
                Nuestra misión se extiende más alla de la caridad y la comunidad a la que le servimos.
            </h2>
            <p>
                Nosotros somos Intégrame Down, una organización sin fines de lucro enfocada en mejorar
                la calidad de vida y el desarrollo integral de personas con Síndrome de Down y otras condiciones.
                Nuestras actividades cubren un amplio abanico de opciones desde apoyos especificos en diferentes areas;
                Estimulación temprana, neurodesarrollo, apoyo academico, terapia de lenguaje, sala sensorial, programa
                Tomatis, diversos talleres por la tarde y eventos para todo el público.
            </p>
        </div>
        <div class="content_video">
            <div class="video_p">
                <p>
                    Intégrame Down fue fundada en 2005 como la primer Institución formada por madres de chicos
                    y chicas con síndrome de Down. Somos una asociasión Potosina comprometida c
                    on una sola visión, que las personas con síndrome de Down alcancen la autonomía e
                    inclusión en todos los ámbitos como cualquier ser humano.
                </p>

            </div>
            <div class="video_inner">
                <img src="images/about-2.jpg" alt="" />
                <a class="popup-youtube" href="https://player.vimeo.com/video/142874198"><i class="fa fa-play"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- About Croudhelp -->

<!-- Our History -->
<section class="history_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"><img src="images/event-4.jpg" alt="" /></div>
            <div class="col-lg-6 history_content">
                <h3 class="p-0">¿Quienes somos?</h3>
                <p>
                    Intégrame Down A.C. , es una asociación civil sin fines de lucro, constituida por un grupo de
                    familias que participan activamente en la educación de sus hijos con síndrome de Down y discapacidad
                    intelectual, a través de la busqueda de los mejores métodos de enseñanza, y terapéuticos, así como
                    de las actividades que propicien el desarrollo integral. Para ello, la Asociación gestiona los
                    recursos que hacen posible la formación de sus integrantes, familias y colaboradores.
                </p>
                <h3>Nuestra mision</h3>
                <p>
                    La misión de Intégrame Down A.C. , es ayudar a desarrollar al máximo las capacidades de las personas
                    con síndrome de Down y discapacidad intelectual, mediante la busqueda y la implementación de las
                    actividades que propicien el desarrollo integral de las personas y sus familias en todos los
                    entornos: familiar. escolar, social, laboral.
                </p>
                <h3>Nuestros objetivos</h3>
                <p>
                    <li>Ofrecer a las personas con síndrome de Down y discapacidad intelectual, el espacio físico y
                        los apoyos educativos, de estimulación integral que les permitan desarrollar
                        con seguridad actividades físicas, escolares, sociales y laborales.
                    </li>
                    <br>
                    <li>Procurar que los beneficiarios se capaciten y desarrollen una actividad productiva. </li><br>
                    <li>Brindar a los beneficiarios un grupo estable de socialización y recreo. </li><br>
                    <li>Ofrecer a los beneficiarios sesiones de ejercicio físico y aprendizaje específicos que
                        potencialicen las posibilidades de cada uno. </li><br>
                    <li>Promover entre los beneficiarios hábitos de auto cuidado e higiene; responsabilidad y constancia
                        para que logren su autonomía en el entorno familiar, laboral y social. </li>
                </p>

            </div>
        </div>
    </div>
</section>
<!-- Our History -->

<!-- Counter Area -->
<div class="container">
    <div class="become_inner">
        <h3>Conviertete en voluntario</h3>
        <p>
            Postulate ahora como voluntario de la organización y forma parte de esta gran familia.
        </p>
        <a href="mailto:integrameac@gmail.com" class="theme_btn">Postularse</a>
    </div>
</div>
<!-- Counter Area -->

<!-- Counter Area -->
<section class="counter_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/people.png" alt="" />
                    </div>
                    <h4>VOLUNTEERS</h4>
                    <h2 class="counter">350</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/human.png" alt="" />
                    </div>
                    <h4>DONORS</h4>
                    <h2 class="counter">1563</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/heartbeat.png" alt="" />
                    </div>
                    <h4>People Save</h4>
                    <h2><span class="counter">700</span>K</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/money.png" alt="" />
                    </div>
                    <h4>DONATED</h4>
                    <h2><span class="counter">945</span>K</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Area -->

<!--  Crowdhope Charity -->
<section class="crowdhope_charity cc_3">
    <div class="container">
        <h2>
            Nuestra misión es acompañarlos en el camino, explora nuestros servicios de ayuda
        </h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="images/love-2.png" alt="" />
            </div>
            <div class="col-lg-6">
                <form class="mission_from row">
                    <div class="col-12">
                        <h3>
                            ¿Necesitas información de alguno de nuestros servicios? Deja tu información y nos
                            comunicaremos contigo
                        </h3>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="post_select">
                            <option>¿Cómo podemos ayudarte?</option>
                            <option>Grupo para padres</option>
                            <option>Estimulación temprana</option>
                            <option>Terapia integral</option>
                            <option>Neurodesarrollo</option>
                            <option>Apoyo escolar</option>
                            <option>Arte, baile, música, yoga...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="phone" placeholder="Teléfono" />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="Email" />
                    </div>
                    <div class="form-group col-12">
                        <button class="theme_btn" type="submit">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--  Crowdhope Charity -->

<!-- Testimonial Area -->
<section class="testimonial_area">
    <div class="container">
        <div class="owl-carousel testimonial_slide">
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-1.jpg" alt="">
                    <div class="media-body">
                        <a href="#">Lourdes Gutiérrez </a>
                        <h6>Promotora de lectura y escritora de cuentos infantiles</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>Intégrame Down es un lugar mágico. Es un espacio que ayuda a los niños, niñas y jóvenes con
                        discapacidad intelectual o síndrome de Down y a sus familias a desdoblar y ampliar sus alas para
                        volar alto en un mundo incluyente. Es aquí donde se siembran semillas de sueños y anhelos en la
                        tierra fértil de los corazones. Es el hogar de familias y amigos que unen fuerzas para mejorar
                        el mundo. <br>
                        <br>En Intégrame Down me han invitado a leerles cuentos y a presentar mis libros, como yo, ellos
                        son fieles amigos de los libros y también son mis amigos.
                    </p>
                </div>
            </div>
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-2.jpg" alt="">
                    <div class="media-body">
                        <a href="#">Nora Padrón</a>
                        <h6>Voluntaria </h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>Ser voluntaria fue una de las experiencias más bonitas y dejo una gran huella en mi vida. Siempre
                        tuve gran inclinación por ayudar a los demás. En Intégrame Down pude aportar, pero más que nada
                        aprender de las personas que están dentro del centro. Adquirí muchos conocimientos como
                        actividades de estimulación, trabajar en equipo, y conocí sobre el método TOMATIS. <br>
                        <br> Como psicóloga en formación Intégrame Down me ha ayudado definir el área en la que quiero
                        ejercer una vez que termine la carrera. Lo que más me ha impactado es ver el crecimiento y
                        avance de las personas y sus familiares tanto académico como personal. Asimismo, me enriquecí
                        del factor humano de los niños y adultos.
                    </p>
                </div>
            </div>
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-3.jpg" alt="">
                    <div class="media-body">
                        <a href="#">Silvia Pérez Romo</a>
                        <h6>Maestra De Intégrame Down desde hace 14 años</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>SSoy Silvia Pérez Romo y soy maestra de Intégrame Down desde hace 14 años. Trabajo principalmente
                        con bebés y adolescentes. En el centro apoyamos a los papás y a los niños para integrarlos
                        principalmente a la educación regular. También tenemos capacitación continua y constante para
                        cubrir todas las áreas como el desarrollo físico, social, sensorio-motor, lenguaje, académico
                        entre otras. <br>
                        <br>Estoy muy orgullosa de pertenecer a la asociación Intégrame Down, es una gran experiencia y
                        muy enriquecedor poder verlos crecer y ver todos sus logros. Además, formamos un gran equipo
                        junto con los papás para lograr hacer de nuestros niños unos niños felices, integrados en la
                        sociedad y capaces de lograr lo que les guste y se propongan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area -->

<!-- Volunteer -->
<section class="volunteer_area va_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn">
                <div class="volunteer">
                    <img src="images/volunteer-1.png" alt="" />
                    <a href="#">Volunteer</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="volunteer">
                    <img src="images/volunteer-2.png" alt="" />
                    <a href="#">Help Life</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="volunteer">
                    <img src="images/volunteer-3.png" alt="" />
                    <a href="#">Give Thoughtfully</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
                <div class="volunteer">
                    <img src="images/volunteer-4.png" alt="" />
                    <a href="#">SEND DONATION</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Volunteer -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>
            Tu apoyo mantiene la misión de nuestra organización, haz una donación y forma parte de nuestra misión.
        </h3>
        <a href="#" class="theme_btn">Hacer Donación</a>
    </div>
</section>
<!-- End Customers_more Area -->