<!-- Banner Area -->
<div class="pages_banner">
    <div class="container">
        <h2>About Us</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="about.html" class="active">About Us</a></li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Meet kids Area -->
<div class="meet_kids_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 meet_video">
                <div class="video_inner">
                    <img src="images/kids.jpg" alt="" />
                    <span><i class="fa fa-share-alt"></i></span>
                    <a
                        class="popup-youtube"
                        href="https://player.vimeo.com/video/142874198"
                        ><i class="fa fa-play"></i
                    ></a>
                </div>
                <p>
                    Your monthly gift of $32 ensures that kids living in poverty
                    have access to life-changing benefits like medical care,
                    educational support, life skills and job-training before
                    they graduate.
                </p>
            </div>
            <div class="col-lg-6 story_col">
                <div class="change_story">
                    <div class="media">
                        <div class="media-left">
                            <h6>Change the story for</h6>
                            <a href="#" class="c_name">Luisa Jimena</a>
                            <h6>11 years old</h6>
                            <h6 class="time">
                                <i class="fa fa-clock-o"></i> Waiting 53 days
                            </h6>
                        </div>
                        <div class="media-body">
                            <img src="images/kids-sm.jpg" alt="" />
                        </div>
                    </div>
                    <a href="#" class="theme_btn">Look Inside her World</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Meet kids Area -->

<!-- About Croudhelp -->
<section class="about_croudhelp">
    <div class="about_img">
        <img src="images/about-1.jpg" alt="" />
    </div>
    <div class="about_content">
        <div class="content">
            <h4>About Croudhelp</h4>
            <h2>
                Our mission extends beyond the Charity and into the communities
                that <br />we serve.
            </h2>
            <p>
                We are croudhelp / non-profit/ fundraising/ NGO organizations.
                Our crowdhope activities are taken place around the world,let
                contribute to them with us by your hand to be a better life.
            </p>
        </div>
        <div class="content_video">
            <div class="video_p">
                <p>
                    Croudhelp founded 25 years ago as the American Institute of
                    Philanthropy (AIP), is America's most independent, assertive
                    charity watchdog. CharityWatch does not merely repeat what a
                    charity reports using simplistic or automated formulas.
                </p>
                <p>
                    We dive deep to let you know how efficiently a charity will
                    use your donation to fund the programs you want to support
                </p>
                <p>
                    We dive deep to let you know how efficiently a charity will
                    use your donation to fund the programs you want to support
                </p>
            </div>
            <div class="video_inner">
                <img src="images/about-2.jpg" alt="" />
                <a
                    class="popup-youtube"
                    href="https://player.vimeo.com/video/142874198"
                    ><i class="fa fa-play"></i
                ></a>
            </div>
        </div>
    </div>
</section>
<!-- About Croudhelp -->

<!-- Our History -->
<section class="history_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"><img src="images/event-4.jpg" alt="" /></div>
            <div class="col-lg-6 history_content">
                <h3 class="p-0">Our History</h3>
                <p>
                    Experience the ease of crowdfunding with us in just a few
                    steps. Get instant approvals on your fundraisers to start
                    raising funds
                </p>
                <h3>Our Principles</h3>
                <p>
                    A dedicated dashboard at your fingertips will assist you
                    with donation insights, help control visits and more, to
                    give you the best results for your fundraiser
                </p>
                <h3>Industry best fundraising</h3>
                <p>
                    Ready to solve problems and eager to apply new ideas. This
                    is the brave territory where we come together, and it’s hard
                    to get there if you’re not having fun.
                </p>
                <h3>Health and medical</h3>
                <p>
                    Unfortunately many medical treatments and procedures are not
                    always covered by health services or insurance schemes
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Our History -->

<!-- Counter Area -->
<div class="container">
    <div class="become_inner">
        <h3>BECOME A PROUD VOLUNTEER</h3>
        <p>
            Join your hand with us for a better life and beautiful future. Save
            The Life To Make The Better World
        </p>
        <a href="#" class="theme_btn">Join Us Now</a>
    </div>
</div>
<!-- Counter Area -->

<!-- Counter Area -->
<section class="counter_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/people.png" alt="" />
                    </div>
                    <h4>VOLUNTEERS</h4>
                    <h2 class="counter">350</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/human.png" alt="" />
                    </div>
                    <h4>DONORS</h4>
                    <h2 class="counter">1563</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/heartbeat.png" alt="" />
                    </div>
                    <h4>People Save</h4>
                    <h2><span class="counter">700</span>K</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="consultants">
                    <div class="icons">
                        <img src="images/money.png" alt="" />
                    </div>
                    <h4>DONATED</h4>
                    <h2><span class="counter">945</span>K</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Area -->

<!--  Crowdhope Charity -->
<section class="crowdhope_charity cc_3">
    <div class="container">
        <h2>
            Our mission is to make them feel safe, explore the Crowdhope Charity
        </h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="images/love-2.png" alt="" />
            </div>
            <div class="col-lg-6">
                <form class="mission_from row">
                    <div class="col-12">
                        <h3>
                            We are experts in Crowdhope services and solutions
                        </h3>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="post_select">
                            <option>How can we help</option>
                            <option>Crowdhope services</option>
                            <option>Services and solutions</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            placeholder="Name"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            name="phone"
                            placeholder="Phone"
                        />
                    </div>
                    <div class="form-group col-md-6">
                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            placeholder="Email"
                        />
                    </div>
                    <div class="form-group col-12">
                        <button class="theme_btn" type="submit">
                            Submit Request
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--  Crowdhope Charity -->

<!-- Testimonial Area -->
<section class="testimonial_area">
    <div class="container">
        <div class="owl-carousel testimonial_slide">
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-1.jpg" alt="" />
                    <div class="media-body">
                        <a href="#">Er Misu</a>
                        <h6>CEO Company</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>
                        Everything we do centres on protecting you and your
                        business from risk ,Peace of mind so you can focus on
                        what’s important
                    </p>
                </div>
            </div>
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-2.jpg" alt="" />
                    <div class="media-body">
                        <a href="#">Mafuz Riad</a>
                        <h6>Health Care charity</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>
                        Everything we do centres on protecting you and your
                        business from risk ,Peace of mind so you can focus on
                        what’s important
                    </p>
                </div>
            </div>
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-3.jpg" alt="" />
                    <div class="media-body">
                        <a href="#">Emran Khan</a>
                        <h6>CEO Company</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>
                        Everything we do centres on protecting you and your
                        business from risk ,Peace of mind so you can focus on
                        what’s important
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area -->

<!-- Volunteer -->
<section class="volunteer_area va_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn">
                <div class="volunteer">
                    <img src="images/volunteer-1.png" alt="" />
                    <a href="#">Volunteer</a>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn"
                data-wow-delay="0.3s"
            >
                <div class="volunteer">
                    <img src="images/volunteer-2.png" alt="" />
                    <a href="#">Help Life</a>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn"
                data-wow-delay="0.6s"
            >
                <div class="volunteer">
                    <img src="images/volunteer-3.png" alt="" />
                    <a href="#">Give Thoughtfully</a>
                </div>
            </div>
            <div
                class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn"
                data-wow-delay="0.9s"
            >
                <div class="volunteer">
                    <img src="images/volunteer-4.png" alt="" />
                    <a href="#">SEND DONATION</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Volunteer -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>
            Join 100,000+ people raising money for personal causes on Crowdhelp
        </h3>
        <a href="#" class="theme_btn">Donation Now</a>
    </div>
</section>
<!-- End Customers_more Area -->
