<!-- Banner Area -->
<div class="pages_banner pb_3">
    <div class="container">
        <h2>Contactanos</h2>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/contact" class="active">Contacto</a></li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Contact -->
<section class="contact_area">
    <div class="container">
        <div class="leave_comment">
            <h2>Envianos tus dudas y sugerencias</h2>
            <form class="row comment_from">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Nombre" />
                </div>
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Email" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Phone" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Asunto" />
                </div>
                <div class="form-group col-12">
                    <textarea class="form-control comment_box" name="message" placeholder="Tu comentario"></textarea>
                </div>
                <div class="form-group col-12">
                    <button class="theme_btn" type="submit">Enviar comentario</button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Contact info-->
<section class="contact_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 info" style="align-self: center;">
                <h4>Oficina San Luis Potosí</h4>
                <ul>
                    <li>
                        <i class="fa fa-mobile"></i>Llamanos :
                        <a href="tel:+524448252431">+52 444-825-2431</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>E-mail :
                        <a href="mailto:integrameac@gmail.com">integrameac@gmail.com</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i>Ubicación : Cordillera de los Himalaya #134. Col. Cumbres de San
                        Luis. 78210. San Luis Potosí, S.L.P, México

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Contact info-->

<!-- Map Area -->
<div class="map_area">
    <div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="12"
        data-marker="images/map-marker.png" data-info="12/A Locous Creek Ave, Port Jefferson Station, NY 12775"
        data-mlat="40.701083" data-mlon="-74.1522848"></div>
</div>
<!-- End Map Area -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>Tu apoyo mantiene la misión de nuestra organización, haz una donación y forma parte de nuestra misión.</h3>
        <a href="#" class="theme_btn">Hacer Donación</a>
    </div>
</section>
<!-- End Customers_more Area -->