<!-- Banner Area -->
<div class="pages_banner pb_5">
    <div class="container">
        <h2>Events Details</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Events</a></li>
            <li>
                <a href="events-details.html" class="active">Events Details</a>
            </li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Latest Causes Area -->
<section class="latestc_causes causes_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 causes_left_sidebar">
                <!-- Causes Details -->
                <div class="donations_details p-0">
                    <div class="causes_details_img">
                        <img src="images/causes-single-4.jpg" alt="" />
                    </div>
                    <div class="datails_timar">
                        <div class="timer"></div>
                        <a href="#" class="theme_btn book_now">Book Now !</a>
                        <ul class="event_date">
                            <li>
                                <i class="fa fa-map-marker"></i> 72/4 Wacker
                                Drive, Chicago
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>October,18 06:00 AM
                                - 11:00 PM
                            </li>
                            <li class="money">
                                <i class="fa fa-money"></i>$65
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>All Events +
                                Google Calendar+ iCal Export
                            </li>
                            <li>
                                <a href="#" class="theme_btn">Look Event on Facebook</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="details details_2">
                    <h2>Many families who consider adoption cannot afford</h2>
                    <p>
                        People aren’t the only targets. In remote and
                        economically poor places like these, communities and
                        criminals alike depend on the natural environment for
                        their survival. Armed groups like the LRA terrorize
                        communities while funding their crimes through illegal
                        wildlife poaching and trafficking. These cycles of
                        violence and exploitation threaten the very existence of
                        entire communities and their ecosystems. Joseph Kony’s
                        army continues to be the primary threat to many
                        communities across central Africa, but they are not the
                        only threat.
                    </p>
                    <p>
                        It’s an event that will stay with us all for a very long
                        time. The whole thing was incredibly special from the
                        scenery and location to the wonderful event staff and
                        brilliant organisation. At the heart of it though is the
                        challenge and each and every one of us had to dig deep
                        to complete it, but that is what makes it so rewarding!
                    </p>
                    <img src="images/causes-single-5.jpg" alt="" class="single_mg" />
                    <p>
                        This report sets out a high-level view of progress since
                        the strategy’s launch. Alongside ongoing dialogue with
                        the UK and international research community, we’ve
                        sought input and challenge on our progress from
                        supporters, patients and those affected by cancer.
                    </p>
                    <h3>Event Location</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d18748.2750544035!2d90.40521272131937!3d23.847512904175364!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1519938480610"
                        allowfullscreen></iframe>
                    <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?q='+YOUR_LAT+','+YOUR_LON+'&hl=es&z=14&amp;output=embed">
                    </iframe>
                    <br />
                    <small>
                        <a href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed"
                            style="color:#0000FF;text-align:left" target="_blank">
                            See map bigger
                        </a>
                    </small>
                    <p class="end_p">
                        With support from the IKEA Foundation and INDITEX, we
                        are working with six local microfinance institutions to
                        launch and expand WaterCredit in Bangladesh. We are also
                        exploring opportunities to partner with additional
                        organizations, both financial and non-financial, to
                        provide alternative water and sanitation solutions.
                    </p>
                    <ul class="share_btn">
                        <li class="share_text">Share :</li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    <div class="media author">
                        <img src="images/author-1.jpg" alt="" class="rounded-circle" />
                        <div class="media-body">
                            <a href="#" class="author_name">Emran Khan</a>
                            <ul class="share_btn">
                                <li>
                                    <a href="#" class="active"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                            <p>
                                Child sponsorship is a unique relationship, that
                                brings real hope and a life-af-firming
                                experience. Sponsorship gives children and their
                                communities life-changing
                            </p>
                        </div>
                    </div>
                    <div class="comments_area">
                        <div class="c_tittle">
                            <h2>Comments (3)</h2>
                        </div>
                        <div class="comment media">
                            <img src="images/comment-a-1.jpg" alt="" class="rounded-circle" />
                            <div class="media-body">
                                <a href="#">Simran Jastic</a>
                                <span>3 months ago</span>
                                <p>
                                    My birthday is on the 15th February. My
                                    favourite game is playing with dolls. In Koh
                                    Krolor life is hard for children like me.
                                </p>
                                <a href="#" class="theme_btn">Reply</a>
                            </div>
                        </div>
                        <div class="comment media">
                            <img src="images/comment-a-2.jpg" alt="" class="rounded-circle" />
                            <div class="media-body">
                                <a href="#">Mahfuz R</a>
                                <span>2 months ago</span>
                                <p>
                                    My birthday is on the 15th February. My
                                    favourite game is playing with dolls. In Koh
                                    Krolor life is hard for children like me.
                                </p>
                                <a href="#" class="theme_btn">Reply</a>

                                <div class="comment media">
                                    <img src="images/comment-a-3.jpg" alt="" class="rounded-circle" />
                                    <div class="media-body">
                                        <a href="#">Asfia A</a>
                                        <span>1 months ago</span>
                                        <p>
                                            My birthday is on the 15th February.
                                            My favourite game is playing with
                                            dolls. In Koh Krolor life is hard
                                            for children like me.
                                        </p>
                                        <a href="#" class="theme_btn">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Leave a Comment -->
                    <div class="leave_comment">
                        <div class="c_tittle">
                            <h2>Leave a Comment</h2>
                        </div>
                        <form class="row comment_from">
                            <div class="form-group col-12">
                                <textarea class="form-control comment_box" name="message"
                                    placeholder="Your Comment"></textarea>
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="text" class="form-control" placeholder="Name" />
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="email" class="form-control" name="email" placeholder="Email" />
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="text" class="form-control" name="phone" placeholder="Phone" />
                            </div>
                            <div class="form-group col-12">
                                <button class="theme_btn" type="submit">
                                    Submit Text
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Right sidebar -->
            <div class="col-lg-4 right_sidebar">
                <!-- Widget -->
                <div class="widget">
                    <h4>What is crowdfunding?</h4>
                    <p>
                        Crowdfunding is a new type of fundraising where you can
                        raise funds for your own personal cause, even if you're
                        not a registered charity.
                    </p>
                    <a href="#" class="bv_button">BECOME A VOLUNTEER <i class="fa fa-arrow-right"></i></a>
                </div>
                <!-- Widget -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget">
                    <h3 class="w_heding">Categories</h3>
                    <ul class="categories">
                        <li>
                            <a href="#" class="active">Humanity <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Become a Volunteer <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">How Can You Help <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Helping Children <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Safety & Privacy <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Education for all <span>(08)</span></a>
                        </li>
                    </ul>
                </div>
                <!-- Widget -->
                <div class="widget">
                    <h3 class="w_heding">Recent Causes</h3>
                    <div class="media r_causes first">
                        <a href="#"><img src="images/r-widget-1.jpg" alt="" /></a>
                        <div class="media-left">
                            <a href="#" class="heding">Crowdfunding Popularity Continues
                            </a>
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                    <div class="media r_causes">
                        <a href="#"><img src="images/r-widget-2.jpg" alt="" /></a>
                        <div class="media-left">
                            <a href="#" class="heding">Reported Charity Salaries May Not Tell the Full
                                Story</a>
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                    <div class="media r_causes">
                        <a href="#"><img src="images/r-widget-3.jpg" alt="" /></a>
                        <div class="media-left">
                            <a href="#" class="heding">Several years ago most people probably
                            </a>
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                    <div class="media r_causes">
                        <a href="#"><img src="images/r-widget-4.jpg" alt="" /></a>
                        <div class="media-left">
                            <a href="#" class="heding">Donation for Poor rural Children</a>
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                </div>

                <!-- Widget -->
                <div class="widget ew">
                    <h3 class="w_heding">Upcoming Event</h3>
                    <div class="carousel slide event_slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#"><img src="images/event-5.jpg" alt="" /></a>
                                <a href="#" class="heding">Help families and communities access the
                                    medicine</a>
                                <ul>
                                    <li>
                                        <span class="icon"><i class="fa fa-calendar"></i></span>Started on : 10.00 am to
                                        5.00 pm
                                        <span>( 25 July,2019 )</span>
                                    </li>
                                    <li>
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                        201 Creative St, NY 10021
                                        <span>Find on Google map</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a href="#"><img src="images/event-5.jpg" alt="" /></a>
                                <a href="#" class="heding">Donation for Poor rural Children the
                                    medicine</a>
                                <ul>
                                    <li>
                                        <i class="fa fa-calendar"></i>Started on
                                        : 10.00 am to 5.00 pm
                                        <span>( 25 July,2019 )</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i> 201
                                        Creative St, NY 10021
                                        <span>Find on Google map</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a href="#"><img src="images/event-5.jpg" alt="" /></a>
                                <a href="#" class="heding">Donation for Poor rural Children the
                                    medicine</a>
                                <ul>
                                    <li>
                                        <i class="fa fa-calendar"></i>Started on
                                        : 10.00 am to 5.00 pm
                                        <span>( 25 July,2019 )</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i> 201
                                        Creative St, NY 10021
                                        <span>Find on Google map</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <ol class="carousel-indicators">
                            <li data-target=".event_slide" data-slide-to="0" class="active"></li>
                            <li data-target=".event_slide" data-slide-to="1"></li>
                            <li data-target=".event_slide" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget supporters_w">
                    <h3 class="w_heding">Supporters <span>325</span></h3>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left">
                            <a href="#">Emran Khan <span>25 July,2019 </span></a>
                            <h6>All the love to Uttara</h6>
                        </div>
                    </div>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left">
                            <a href="#">Amanda Ferrari <span>25 July,2019 </span></a>
                            <h3>$20.00</h3>
                        </div>
                    </div>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left">
                            <a href="#">Charlotte Fisk <span>25 July,2019 </span></a>
                            <h3>$40.00</h3>
                        </div>
                    </div>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left border-0">
                            <a href="#">Dana Hayden <span>25 July,2019 </span></a>
                            <h6>
                                You’re amazing for doing this! Get better fast
                                gazipur
                            </h6>
                            <h3>$60.00</h3>
                        </div>
                    </div>
                    <a href="#" class="theme_btn">Show More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Causes Area -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>
            Join 100,000+ people raising money for personal causes on Crowdhelp
        </h3>
        <a href="#" class="theme_btn">Donation Now</a>
    </div>
</section>
<!-- End Customers_more Area -->