<!-- Banner Area -->
<div class="pages_banner pb_4">
    <div class="container">
        <h2>Eventos</h2>
        <ol class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            <li><a href="/events">Eventos</a></li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Latest Causes Area -->
<section class="latestc_causes lc_pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <!-- Events -->
                {{#if events}}
                {{#each events}}
                <div class="events_item">
                    <a href="/events/:id" class="e_img"><img src="images/event-6.jpg" alt="" /></a>
                    <div class="media">
                        <h2><b>21</b>August 2019</h2>
                        <div class="media-body">
                            <h6>
                                START: AUG 18, 2019
                                <span>END: AUG 28, 2019</span>
                            </h6>
                            <a href="/events/:id" class="heding">Fundraising as a team in the workplace Many
                                families
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}

                {{else}}
                <h1>Ups!</h1>
                <p>Al parecer aun no hay eventos agendados para este año.</p>
                {{/if}}


            </div>
        </div>
    </div>
</section>
<!-- Latest Causes Area -->

<!-- Quickly and Easily Area -->
<section class="quickly_easily">
    <div class="container">
        <h2>Ayudamos a desarrollar al máximo las capacidades de las personas con síndrome de Down </h2>
        <p>Nuestra organización cuenta con diferentes actividades que propician el desarrollo integral de nuestros
            integrantes en todos los entornos. ¿Quieres conocernos? </p>
        <a href="#" class="theme_btn">Más información</a>
        <a href="tel:+524448252431" class="call_support"><i class="flaticon-phone"></i> +52 444-825-2431</a>
    </div>
</section>
<!-- Quickly and Easily Area -->