<!-- Banner Area -->
<div class="pages_banner pb_3">
    <div class="container">
        <h2>Preguntas frecuentes</h2>
        <br>
        <br>
    </div>
</div>
<!-- Banner Area -->
<!-- Faq Area -->
<section class="faq_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 faq_items">
                <h4>¿Qué servicios tienen?</h4>
                <p>
                    <b>Contamos con</b> orientación para padres, estimulación temprana, terapia integral (física y sensorial), terapia de lenguaje, neurodesarrollo, apoyo escolar, lecto-escritura, terapia auditiva neurosensorial “TOMATIS”, sala multisensorial y reorganización neurofuncional: método Padovan.<br>
<br>También con <b>actividades sociales</b> como arte, baile, música, yoga, juegos de mesa y zumba. 
<br><br>Para mayores de 13 años contamos con un programa de <b>Academia 21</b>  el cual está enfocado en brindar herramientas que permiten desarrollar la autonomía a través de experiencias reales. Las clases que se ofrecen son: telar, cocina, educación física, arte, hip hop, folclor, yoga, matemáticas (aplicadas en la vida diaria) y un taller laboral renumerado.  

                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Qué horarios tienen?</h4>
                <p>
                    <b>Matutino:</b> Desde las 8 am hasta las 3 pm de lunes a viernes <br><br>
                    <b>Vespertino:</b> De 4 pm a 8 pm de lunes a viernes  <br><br>
                    Los <b>sábados</b> es de 8 am a 2 pm <br>

                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Desde qué edades pueden asistir?</h4>
                <p>
                    Pueden asistir desde un mes de nacidos una vez que su médico indique que puede empezar con su terapia hasta adultos. 
                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Quiénes son nuestros beneficiarios?</h4>
                <p>
                    Personas con síndrome de Down, autismo, parálisis cerebral, discapacidad intelectual y otras condiciones
                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Dónde están ubicados?</h4>
                <p>
                    Cordillera de los Himalaya #134. Colonia Cumbres de San Luis.<br>
Código postal: 78210.<br>
 San Luis Potosí, San Luis Potosí, México  

                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Cuál es el costo de la terapia?</h4>
                <p>
                    No se requiere pagar inscripción ni por adelantada. Las terapias se pagan directamente a la maestra y van desde 150 pesos la hora. 
                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Mi hijo puede aprender a leer y escribir?</h4>
                <p>
                   Si, en cualquier etapa de la vida se puede seguir aprendiendo 
                </p>
            </div>
            <div class="col-md-6 faq_items">
                <h4>¿Qué capacitación tienen las maestras?</h4>
                <p>
                    Las maestras se capacitan constantemente. Reciben cursos de: <br>
                    <ul>
                        <br> 
                    <li>Lenguaje</li><br>
                    <li>Reforzamiento de las habilidades de atención</li><br>
                    <li>Enseñar a leer y escribir a personas con síndrome de Down en diversos métodos</li><br>
                    <li>Estimulación temprana</li><br>
                    <li>Neurodesarrollo </li><br>
                    <li>Enseñar matemáticas a personas con síndrome de Down y discapacidad intelectual</li><br>
                    <li>Método TEACCH en autismo, entre otros. </li><br>
                    <li>También han participado en congresos en línea de síndrome de Down.</li><br>
                    </ul>

                </p>
            </div>
        </div>
    </div>
</section>
<!-- Faq Area -->

<!-- Make a donation -->
<section class="make_donation">
    <div class="container">
        <div class="donation_faq">
            <h2>Make a donation</h2>
            <p>
                Donations made in Great British Pounds will benefit orib
                Foundation, registered charity number: 2112574,
            </p>
            <div class="row">
                <ul class="col-lg-4 donation_c">
                    <li><a href="#" class="active">GBP</a></li>
                    <li><a href="#">USD</a></li>
                    <li><a href="#">EUR</a></li>
                </ul>
                <ul class="col-lg-5 donation_c dc_2">
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">75</a></li>
                    <li><a href="#">100</a></li>
                </ul>
                <div class="col-lg-3 donation_c dc_3">
                    <h6>
                        Other About :
                        <input type="text" placeholder="Enter Amount" />
                    </h6>
                </div>
            </div>
            <h4>Choose whether donation is</h4>
            <div class="time_btn">
                <a href="#" class="theme_btn active">One Time</a>
                <a href="#" class="theme_btn">Monthly</a>
            </div>
        </div>
    </div>
</section>
<!-- Make a donation -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>
            Join 100,000+ people raising money for personal causes on Crowdhelp
        </h3>
        <a href="#" class="theme_btn">Donation Now</a>
    </div>
</section>
<!-- End Customers_more Area -->
