<!-- Banner Area -->
<div class="pages_banner pb_3">
    <div class="container">
        <h2>Gallery</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="gallery.html" class="active">Gallery</a></li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Grid Gallery Area -->
<section class="grid_gallery_area">
    <div class="container">
        <div class="grid_gallery_inner">
            <ul class="gallery_filter">
                <li class="active" data-filter="*">
                    <a href="#" class="theme_btn">All Gallery</a>
                </li>
                <li data-filter=".rooms">
                    <a href="#" class="theme_btn">Poor People</a>
                </li>
                <li data-filter=".activites">
                    <a href="#" class="theme_btn">Human Rights</a>
                </li>
                <li data-filter=".event">
                    <a href="#" class="theme_btn">Education</a>
                </li>
                <li data-filter=".restaurant">
                    <a href="#" class="theme_btn">Empowerment</a>
                </li>
            </ul>
            <div class="row grid_gallery_item_inner imageGallery1">
                <div class="col-lg-4 col-sm-6 activites restaurant">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-1.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-1.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 rooms event restaurant">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-2.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-2.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 event restaurant">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-3.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-3.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 rooms event restaurant">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-4.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-4.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 activites rooms">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-5.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-5.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 event activites">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-6.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-6.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 rooms event restaurant">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-7.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-7.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 rooms event restaurant">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-8.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-8.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 rooms">
                    <div class="grid_gallery_item">
                        <img src="images/gallery-9.jpg" alt="" />
                        <div class="gallery_hover">
                            <div class="zoom_link">
                                <a href="#"><i class="flaticon-chain"></i></a>
                                <a class="light" href="images/gallery-9.jpg"
                                    ><i class="flaticon-photo"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination_area-->
            <div class="row">
                <nav class="pagination_area col-12">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="active" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item"><a href="#">2</a></li>
                        <li class="page-item"><a href="#">3</a></li>
                        <li class="page-item">
                            <a href="#"
                                ><i class="fa fa-angle-double-right"></i
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Grid Gallery Area -->
