<!-- Slider Area -->
<section class="main_slider_area">
    <div id="main_slider" class="rev_slider" data-version="5.1.1RC">
        <ul>
            <!-- SLIDE 1 -->
            <li data-index="rs-81" data-transition="slideoverup" data-slotamount="7" data-easein="default"
                data-easeout="default" data-masterspeed="1000" data-thumb="images/slider-1.jpg"
                data-title="Nuestros servicios">
                <!-- MAIN IMAGE -->
                <img src="images/slider-1.jpg" alt="" data-lazyload="images/slider-1.jpg" data-bgposition="left center"
                    data-kenburns="on" data-duration="30000" data-scalestart="110" data-scaleend="100"
                    class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption s_title" id="slide-1-layer-1" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                    data-voffset="['420','420','200','170']" data-fontsize="['20','20','18','16']"
                    data-lineheight="['25','25','20','20']" data-width="['none','none','none','100']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Nuestros servicios
                </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption concept_title" id="slide-1-layer-2"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['460','460','230','200']"
                    data-fontsize="['70','70','45','25']" data-lineheight="['78','78','55','35']"
                    data-width="['none','none','none','420']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1300" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Te ayudamos a desarrollar al máximo
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption concept_title" id="slide-1-layer-3"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['540','540','290','240']"
                    data-fontsize="['70','70','45','25']" data-lineheight="['78','78','55','35']"
                    data-width="['none','none','none','420']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1600" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">sus capacidades motrices y cognitivas
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider_sm_heding" id="slide-1-layer-4"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['670','670','380','300']"
                    data-fontsize="['18','18','16','12']" data-lineheight="['30','30','20','20']"
                    data-width="['none','none','500','410']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1900" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Contamos con los mejores métodos terapéuticos y actividades
                    para el desarrollo integral de las personas con Síndrome de Down.

                </div>
                <!-- LAYER NR. 4 -->
                <a class="tp-caption theme_btn" href="#" id="slide-1-layer-5"
                    data-x="['center','center','center','center']" data-hoffset="['-130','-130','-120','0']"
                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['235','235','150','100']"
                    data-width="215" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="2200" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 6; white-space: nowrap; text-align: center; text-transform: uppercase">Ver Servicios
                </a>
                <!-- LAYER NR. 5 -->
                <a class="tp-caption theme_btn tb_2" href="#" id="slide-1-layer-6"
                    data-x="['center','center','center','center']" data-hoffset="['120','120','120','80']"
                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['235','235','150','100']"
                    data-width="245" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="2200" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 6; white-space: nowrap; text-align: center; text-transform: uppercase">Ubicación
                </a>
            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-82" data-transition="fade" data-slotamount="default" data-easein="default"
                data-easeout="default" data-masterspeed="2000" data-thumb="images/slider-2.jpg" data-rotate="0"
                data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                data-title="Nuestra agenda de actividades" data-description="">
                <!-- MAIN IMAGE -->
                <img src="images/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption s_title" id="slide-2-layer-1" data-x="['left','left','left','left']"
                    data-hoffset="['0','0','0','15']" data-y="['top','top','top','top']"
                    data-voffset="['430','430','200','170']" data-fontsize="['70','70','45','25']"
                    data-lineheight="['78','78','55','35']" data-width="['none','none','none','330']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1300" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Nuestra agenda de actividades
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption concept_title" id="slide-2-layer-2" data-x="['left','left','left','left']"
                    data-hoffset="['0','0','0','15']" data-y="['top','top','top','top']"
                    data-voffset="['510','510','250','210']" data-fontsize="['70','70','45','25']"
                    data-lineheight="['78','78','55','35']" data-width="['none','none','none','280']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1600" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Más de 5000 personas han asistido</br> a nuestro eventos
                    con causa social</br> <span>solo faltas tú </br></br></span>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider_sm_heding" id="slide-2-layer-3" data-x="['left','left','left','left']"
                    data-hoffset="['0','0','0','15']" data-y="['top','top','top','top']"
                    data-voffset="['640','640','330','280']" data-fontsize="['20','20','16','12']"
                    data-lineheight="['32','32','28','20']" data-width="['680','680','550','410','410','410']"
                    data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 8; min-width: 660px; max-width: 660px; white-space: normal;">
                    </br></br></br></br>Desde carreras deportivas hasta eventos online,
                    revisa nuestra agenda de eventos para este año y forma parte de esta gran comunidad.
                    </br></br></br></br>
                </div>

            </li>
            <!--slide2-->


            <!-- SLIDE 3 -->
            <li data-index="rs-83" data-transition="slideoverup" data-slotamount="7" data-easein="default"
                data-easeout="default" data-masterspeed="1000" data-thumb="images/slider-3.jpg"
                data-title="Nuestra mision">
                <!-- MAIN IMAGE -->
                <img src="images/slider-3.jpg" alt="" data-lazyload="images/slider-3.jpg" data-bgposition="left center"
                    data-kenburns="on" data-duration="30000" data-scalestart="110" data-scaleend="100"
                    class="rev-slidebg" data-no-retina>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption s_title" id="slide-3-layer-1" data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                    data-voffset="['420','420','200','170']" data-fontsize="['20','20','18','16']"
                    data-lineheight="['25','25','20','20']" data-width="['none','none','none','100']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Tu apoyo, nuestro motor
                </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption concept_title" id="slide-3-layer-2"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['460','460','230','200']"
                    data-fontsize="['70','70','45','25']" data-lineheight="['78','78','55','35']"
                    data-width="['none','none','none','420']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1300" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Con tus donaciones
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption concept_title" id="slide-3-layer-3"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['540','540','290','240']"
                    data-fontsize="['70','70','45','25']" data-lineheight="['78','78','55','35']"
                    data-width="['none','none','none','420']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1600" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">nuestra misión se mantiene en pie
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider_sm_heding" id="slide-3-layer-4"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']" data-voffset="['670','670','380','300']"
                    data-fontsize="['18','18','16','12']" data-lineheight="['30','30','20','20']"
                    data-width="['none','none','500','410']" data-height="none"
                    data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="1900" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap;">Al realizar una donación en nuestra plataforma nos
                    ayudas a llegar a la vida de más familias que necesitan nuestro apoyo.
                </div>
                <!-- LAYER NR. 4 -->
                <a class="tp-caption theme_btn" href="#" id="slide-3-layer-5"
                    data-x="['center','center','center','center']" data-hoffset="['-130','-130','-120','0']"
                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['235','235','150','100']"
                    data-width="215" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="2200" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 6; white-space: nowrap; text-align: center; text-transform: uppercase">Hacer
                    donación
                </a>
                <!-- LAYER NR. 5 -->
                <a class="tp-caption theme_btn tb_2" href="#" id="slide-3-layer-6"
                    data-x="['center','center','center','center']" data-hoffset="['120','120','120','80']"
                    data-y="['bottom','bottom','bottom','bottom']" data-voffset="['235','235','150','100']"
                    data-width="245" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeOut;"
                    data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-start="2200" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                    style="z-index: 6; white-space: nowrap; text-align: center; text-transform: uppercase">Últimos
                    donadores
                </a>
            </li>

        </ul>
        <div class="tp-bannertimer tp-top"></div>
    </div>
</section>
<!-- End Slider Area -->

<!-- Meet kids Area -->
<div class="meet_kids_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 meet_video">
                <div class="video_inner">
                    <img src="images/kids.jpg" alt="">
                    <span><i class="fa fa-share-alt"></i></span>
                    <a class="popup-youtube" href="https://player.vimeo.com/video/142874198"><i
                            class="fa fa-play"></i></a>
                </div>
                <p>Todas las personas somos diferentes, aceptar la diversidad es el primer paso. Queremos ayudarte a
                    recorrer este camino y acompañarte en el proceso. Nuestra misión es brindarte el soporte para
                    desarrollar al máximo las capacidades de las personas con síndrome de Down y otras condiciones.</p>
            </div>
            <div class="col-lg-6 story_col">
                <div class="change_story">
                    <div class="media">
                        <div class="media-left m-r-1">
                            <h6>Cambiemos su historia</h6>
                            <a href="https://www.instagram.com/integramedown/?hl=es-la" target="_blank"
                                class="c_name">#Juntos</a>
                            <h6 class="time">
                                <i class="fa fa-heart"></i> No olvides darle a like!
                            </h6>
                        </div>
                        <div class="media-body">
                            <img src="images/kids-sm.jpg" alt="" />
                        </div>
                    </div>
                    <a href="https://www.instagram.com/integramedown/" class="theme_btn">Abrir instagram</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Meet kids Area -->

<!-- Quickly and Easily Area -->
<section class="quickly_easily">
    <div class="container">
        <h2>Ayudamos a desarrollar al máximo las capacidades de las personas con síndrome de Down </h2>
        <p>Nuestra organización cuenta con diferentes actividades que propician el desarrollo integral de nuestros
            integrantes en todos los entornos. ¿Quieres conocernos? </p>
        <a href="#" class="theme_btn">Más información</a>
        <a href="tel:+524448252431" class="call_support"><i class="flaticon-phone"></i> +52 444-825-2431</a>
    </div>
</section>
<!-- Quickly and Easily Area -->

<!-- Latest Causes Area -->
<section class="latestc_causes">
    <div class="row latestc_causes_inner">
        <div class="col-12 tittle">
            <h2>Nuestra causa</h2>
            <p>El motor de Integrame Down es poder ayudar a desarrollar al máximo las capacidades de las personas con
                síndrome de Down y discapacidad intelectual, mediante la busqueda y la implementación de las actividades
                que propicien el desarrollo integral de las personas y sus familias en todos los entornos: familiar.
                escolar, social, laboral. </p>
        </div>
        <!-- Causes -->
        <div class="col-xl-3 col-lg-4 col-md-6" style="display: none;">
            <div class="causes">
                <div class="causes_img"><img src="images/causes-1.jpg" alt=""></div>
                <div class="smpie_chart" data-percent="80"><span class="pie-value"></span></div>
                <h6>$38,100 raised / <span>Goal: $60,000</span> <br>1956 supporters</h6>
                <a href="#" class="heding">Schools Not Slavery for Rural Haitian Children</a>
                <a href="#" class="theme_btn">Donation</a>
                <a href="#" class="theme_btn btn_2">View More</a>
            </div>
        </div>
        <!-- Causes -->
        <div class="col-xl-3 col-lg-4 col-md-6" style="display: none;">
            <div class="causes">
                <div class="causes_img"><img src="images/causes-2.jpg" alt=""></div>
                <div class="smpie_chart" data-percent="60"><span class="pie-value"></span></div>
                <h6>$28,100 raised / <span>Goal: $60,000</span> <br>1956 supporters</h6>
                <a href="#" class="heding">Schools Not Slavery for Rural Haitian Children</a>
                <a href="#" class="theme_btn">Donation</a>
                <a href="#" class="theme_btn btn_2">View More</a>
            </div>
        </div>
        <!-- Causes -->
        <div class="col-xl-3 col-lg-4 col-md-6" style="display: none;">
            <div class="causes">
                <div class="causes_img"><img src="images/causes-3.jpg" alt=""></div>
                <div class="smpie_chart" data-percent="20"><span class="pie-value"></span></div>
                <h6>$20,100 raised / <span>Goal: $60,000</span> <br>1956 supporters</h6>
                <a href="#" class="heding">Schools Not Slavery for Rural Haitian Children</a>
                <a href="#" class="theme_btn">Donation</a>
                <a href="#" class="theme_btn btn_2">View More</a>
            </div>
        </div>
        <!-- Causes -->
        <div class="col-xl-3 col-lg-4 col-md-6" style="display: none;">
            <div class="causes">
                <div class="causes_img"><img src="images/causes-4.jpg" alt=""></div>
                <div class="smpie_chart" data-percent="50"><span class="pie-value"></span></div>
                <h6>$60,100 raised / <span>Goal: $50,000</span> <br>1956 supporters</h6>
                <a href="#" class="heding">Schools Not Slavery for Rural Haitian Children</a>
                <a href="#" class="theme_btn">Donation</a>
                <a href="#" class="theme_btn btn_2">View More</a>
            </div>
        </div>
    </div>
</section>
<!-- Latest Causes Area -->

<!-- About Croudhelp -->
<section class="about_croudhelp">
    <div class="about_img">
        <img src="images/about-1.jpg" alt="">
    </div>
    <div class="about_content">
        <div class="content">
            <h4>Acerca de Integrame</h4>
            <h2>Nuestra misión se extiende más alla de la caridad y la comunidad a la que le servimos.</h2>
            <p>Nosotros somos Intégrame Down, una organización sin fines de lucro enfocada en mejorar la calidad de vida
                y el desarrollo integral de personas con Síndrome de Down y otras condiciones. Nuestras actividades
                cubren un amplio abanico de opciones desde apoyos especificos en diferentes areas; Estimulación
                temprana, neurodesarrollo, apoyo academico, terapia de lenguaje, sala sensorial, programa Tomatis,
                diversos talleres por la tarde y eventos para todo el público.</p>

        </div>
        <div class="content_video">
            <div class="video_p mr-5">
                <p>Intégrame Down fue fundada en 2005 como la primer Institución formada por madres de chicos
                    y chicas con síndrome de Down. Somos una asociasión Potosina comprometida c
                    on una sola visión, que las personas con síndrome de Down alcancen la autonomía e
                    inclusión en todos los ámbitos como cualquier ser humano.</p>

            </div>
            <div class="video_inner">
                <img src="images/about-2.jpg" alt="">
                <a class="popup-youtube" href="https://player.vimeo.com/video/142874198"><i class="fa fa-play"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- About Croudhelp -->

<!-- UPCOMING	EVENTS -->
<section class="upcoming_event">
    <div class="container">
        <div class="tittle">
            <h2>Proximos eventos</h2>
            <p>En este apartado encontrarás toda la información acerca de nuestros proximos eventos</p>
        </div>
        <div class="row">
            <div class="col-xl-6 event_left">
                <img src="images/event.jpg" alt="">
                <div class="event media  wow fadeInUp">
                    <h2><b>21</b>July 2019</h2>
                    <div class="media-body">
                        <h6>START: JUL 18, 2019 <span>END: JUL 18, 2019</span></h6>
                        <a href="#">Fundraising as a team in the workplace </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 event_right">
                <div class="event media wow fadeInUp">
                    <h2><b>16</b>July 2019</h2>
                    <div class="media-body">
                        <h6>START: JUL 18, 2019 <span>END: JUL 18, 2019</span></h6>
                        <a href="#">Donor finding program for all globalization</a>
                    </div>
                </div>
                <div class="event media wow fadeInUp" data-wow-delay="0.3s">
                    <h2><b>19</b>July 2019</h2>
                    <div class="media-body">
                        <h6>START: JUL 18, 2019 <span>END: JUL 18, 2019</span></h6>
                        <a href="#">Help support Ceebass' family in the challenging times…</a>
                    </div>
                </div>
                <div class="event media wow fadeInUp" data-wow-delay="0.6s">
                    <h2><b>26</b>July 2019</h2>
                    <div class="media-body">
                        <h6>START: JUL 18, 2019 <span>END: JUL 18, 2019</span></h6>
                        <a href="#">Fund cancer treatment for Danielle that is not available</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- UPCOMING	EVENTS -->

<!-- Testimonial Area -->
<section class="testimonial_area">
    <div class="container">
        <div class="owl-carousel testimonial_slide">
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-1.jpg" alt="">
                    <div class="media-body">
                        <a href="#">Lourdes Gutiérrez </a>
                        <h6>Promotora de lectura y escritora de cuentos infantiles</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>Intégrame Down es un lugar mágico. Es un espacio que ayuda a los niños, niñas y jóvenes con
                        discapacidad intelectual o síndrome de Down y a sus familias a desdoblar y ampliar sus alas para
                        volar alto en un mundo incluyente. Es aquí donde se siembran semillas de sueños y anhelos en la
                        tierra fértil de los corazones. Es el hogar de familias y amigos que unen fuerzas para mejorar
                        el mundo. <br>
                        <br>En Intégrame Down me han invitado a leerles cuentos y a presentar mis libros, como yo, ellos
                        son fieles amigos de los libros y también son mis amigos.
                    </p>
                </div>
            </div>
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-2.jpg" alt="">
                    <div class="media-body">
                        <a href="#">Nora Padrón</a>
                        <h6>Voluntaria </h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>Ser voluntaria fue una de las experiencias más bonitas y dejo una gran huella en mi vida. Siempre
                        tuve gran inclinación por ayudar a los demás. En Intégrame Down pude aportar, pero más que nada
                        aprender de las personas que están dentro del centro. Adquirí muchos conocimientos como
                        actividades de estimulación, trabajar en equipo, y conocí sobre el método TOMATIS. <br>
                        <br> Como psicóloga en formación Intégrame Down me ha ayudado definir el área en la que quiero
                        ejercer una vez que termine la carrera. Lo que más me ha impactado es ver el crecimiento y
                        avance de las personas y sus familiares tanto académico como personal. Asimismo, me enriquecí
                        del factor humano de los niños y adultos.
                    </p>
                </div>
            </div>
            <!-- item -->
            <div class="item">
                <div class="media">
                    <img src="images/testimonial-3.jpg" alt="">
                    <div class="media-body">
                        <a href="#">Silvia Pérez Romo</a>
                        <h6>Maestra De Intégrame Down desde hace 14 años</h6>
                    </div>
                </div>
                <div class="t_text">
                    <p>SSoy Silvia Pérez Romo y soy maestra de Intégrame Down desde hace 14 años. Trabajo principalmente
                        con bebés y adolescentes. En el centro apoyamos a los papás y a los niños para integrarlos
                        principalmente a la educación regular. También tenemos capacitación continua y constante para
                        cubrir todas las áreas como el desarrollo físico, social, sensorio-motor, lenguaje, académico
                        entre otras. <br>
                        <br>Estoy muy orgullosa de pertenecer a la asociación Intégrame Down, es una gran experiencia y
                        muy enriquecedor poder verlos crecer y ver todos sus logros. Además, formamos un gran equipo
                        junto con los papás para lograr hacer de nuestros niños unos niños felices, integrados en la
                        sociedad y capaces de lograr lo que les guste y se propongan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area -->

<!-- Latest Charity News  -->
<!-- <section class="latest_news">
        <div class="container">
            <div class="tittle_2">
                <h2>¿Tienes alguna duda o comentario? No dudes en dejarlo en la caja debajo</h2>
                <a href="#" class="theme_btn">Get More</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeIn">
                    <div class="news_items">
                        <div class="news_img">
                            <img src="images/news-1.jpg" alt="">
                            <a href="blog_single.html" class="theme_btn">Read more</a>
                        </div>
                        <a href="blog_single.html" class="heding">Crowdfunding Popularity Continues to Soar Despite
                            Risks to Donors</a>
                        <p>Several years ago most people probably had never heard the word crowdfunding Defined as the
                            pro-cess of funding a project...</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="news_items">
                        <div class="news_img">
                            <img src="images/news-2.jpg" alt="">
                            <a href="blog_single.html" class="theme_btn">Read more</a>
                        </div>
                        <a href="blog_single.html" class="heding">Costly and Continuous Kars4Kids Ads Disguise Charity's
                            Real Purpose</a>
                        <p>Mixing insurance and tax doesn’t need be complicat-ed. To prove it, we explain Lifetime
                            Health Cover Loading, the Medicare</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="news_items">
                        <div class="news_img">
                            <img src="images/news-3.jpg" alt="">
                            <a href="blog_single.html" class="theme_btn">Read more</a>
                        </div>
                        <a href="blog_single.html" class="heding">Reported Charity Salaries May Not Tell the Full
                            Story</a>
                        <p>One covers you for private hospital treatment, the other for treatment elsewhere. It’s simple
                            enough to get covered by either,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
<!-- Latest Charity News  -->

<!--  Crowdhope Charity -->
<section class="crowdhope_charity p-t-90 overflow-visible" id="contact-section" >
    <div class="container">
        <h2>Nuestra misión es acompañarlos en el camino, explora nuestros servicios de ayuda</h2>
        <div class="row">
            <div class="col-lg-6">
                <img src="images/love-2.png" alt="">
            </div>
            <div class="col-lg-6">
                <form class="mission_from row" style="overflow: visible;">
                    <div class="col-12">
                        <h3>¿Necesitas información de alguno de nuestros servicios? Deja tu información y nos
                            comunicaremos contigo</h3>
                    </div>
                    <div class="form-group col-md-6" style="overflow: visible;">
                        <!-- agregar opciones de servicios-->
                        <select class="post_select">
                            <option>¿Cómo podemos ayudarte?</option>
                            <option>Terapia auditiva neurosensorial</option>
                            <option>Reorganización Neurofuncional</option>
                            <option>Terapia de aprendizaje</option>
                            <option>Orientación para padres</option>
                            <option>Terapia de lenguaje</option>
                            <option>Clases de lecto-escritura</option>
                            <option>Sala multisensorial</option>
                            <option>Estimulación temprana</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="name" placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="phone" placeholder="Teléfono">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group col-12">
                        <button class="theme_btn" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--  Crowdhope Charity -->

<!-- Volunteer -->
<section class="volunteer_area">

    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn">
                <div class="volunteer">
                    <img src="images/volunteer-1.png" alt="">
                    <a href="#">Volunteer</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="volunteer">
                    <img src="images/volunteer-2.png" alt="">
                    <a href="#">Help Life</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="volunteer">
                    <img src="images/volunteer-3.png" alt="">
                    <a href="#">Give Thoughtfully</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
                <div class="volunteer">
                    <img src="images/volunteer-4.png" alt="">
                    <a href="#">SEND DONATION</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Volunteer -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>Tu apoyo mantiene la misión de nuestra organización, haz una donación y forma parte de nuestra misión.</h3>
        <a href="#" class="theme_btn">Hacer Donación</a>
    </div>
</section>
<!-- End Customers_more Area -->