<!-- Banner Area -->
<div class="pages_banner pb_4">
    <div class="container">
        <h2>Causes Details</h2>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Causes</a></li>
            <li>
                <a href="causes-details.html" class="active">Causes Details</a>
            </li>
        </ol>
    </div>
</div>
<!-- Banner Area -->

<!-- Latest Causes Area -->
<section class="latestc_causes causes_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 causes_left_sidebar">
                <!-- Causes Details -->
                <div class="donations_details">
                    <div class="causes_details_img">
                        <img src="images/causes-single-1.jpg" alt="" />
                    </div>
                    <h2>Schools Not Slavery for Rural Haitian Children</h2>
                    <div class="raised">
                        <h6>
                            $38,100 raised / <span>Goal: $60,000</span>
                            <br />1956 supporters
                        </h6>
                        <div class="s_chart">
                            <div class="smpie_chart" data-percent="70">
                                <span class="pie-value"></span>
                            </div>
                            <a href="#" class="theme_btn">Donation</a>
                        </div>
                        <ul class="c_location">
                            <li>
                                <span><i class="fa fa-map-marker"></i></span>
                                Northampton, United Kingdom
                            </li>
                            <li>
                                <span><i class="fa fa-heart-o"></i></span>6
                                Donors
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="details">
                    <h2>About the Campaign</h2>
                    <p>
                        In some regions in the west, every year, when the hot
                        season comes, serious water shortages occurs. At there,
                        everybody have to walk tens of km to get clean-water. So
                        this charity is building clean-water system for people
                        at there.
                    </p>
                    <p>
                        Later on when it became increasingly apparent that Kian
                        had social and learning difficulties in the form of
                        Autism Simba yet again stepped in to help Kian through
                        his darkest times. When Kian self harms Simba stops him
                        by placing his paws on Kian's hands. When Kian goes in
                        to shut down and won't interact with any of us or leave
                        the house or even drink Simba sits on his head or next
                        to him and calms him. He takes Kian to bed every night
                        and stays with him until he falls asleep and rushes to
                        him when he wakes-without Simba Kian struggles to sleep!
                        He even comes on holiday with us!
                    </p>
                    <div class="s_causes">
                        <img src="images/causes-single-2.jpg" alt="" />
                    </div>
                    <p class="slider_end_p">
                        As one of the purest expressions of the love and
                        compassion of the Gospel, adoption has always provided
                        thelife-altering solution to this need.
                    </p>
                    <p>
                        Yet, the number of adoptions has never kept up with
                        number of children who desperately need a home. At Adopt
                        a Love Story, we recognize that each adoption tells the
                        story of a mom, who despite all other circumstances or
                        challenges, chooses to give her baby life. In doing so
                        she writes a love story of her own, a story of potential
                        and promise for her child.
                    </p>
                    <div class="row according_area">
                        <div class="col-md-7">
                            <div class="accordion p_collapse">
                                <div class="card">
                                    <a
                                        href="#"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        >The 15 Year Old President</a
                                    >
                                    <div
                                        id="collapseOne"
                                        class="collapse show"
                                        data-parent=".p_collapse"
                                    >
                                        <p>
                                            Our time in the field gives us a
                                            personal view on what it's like to
                                            get clean water for the first time.
                                            The mothers, children and
                                            communities that we’ve met inspire
                                            our ideas and, often times,
                                            solutions. Every one of them has a
                                            story worth sharing.
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <a
                                        href="#"
                                        class="collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo"
                                        >WITH 76% OF THAT SPENT
                                    </a>
                                    <div
                                        id="collapseTwo"
                                        class="collapse"
                                        data-parent=".p_collapse"
                                    >
                                        <p>
                                            Anim pariatur cliche reprehenderit,
                                            enim eiusmod high life accusamus
                                            terry
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <a
                                        href="#"
                                        class="collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsethree"
                                        >Many families who consider
                                    </a>
                                    <div
                                        id="collapsethree"
                                        class="collapse"
                                        data-parent=".p_collapse"
                                    >
                                        <p>
                                            Anim pariatur cliche reprehenderit,
                                            enim eiusmod high life accusamus
                                            terry
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <a
                                        href="#"
                                        class="collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsefour"
                                        >Stories need heroes
                                    </a>
                                    <div
                                        id="collapsefour"
                                        class="collapse"
                                        data-parent=".p_collapse"
                                    >
                                        <p>
                                            Anim pariatur cliche reprehenderit,
                                            enim eiusmod high life accusamus
                                            terry
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="images/causes-single-3.jpg" alt="" />
                        </div>
                    </div>
                    <p>
                        When an adoptive family enters the picture they are
                        entrusted with that love story. And this is where you
                        join the story, by empowering adoptive families to bring
                        their children home.
                    </p>
                    <ul class="share_btn">
                        <li class="share_text">Share :</li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    <div class="media author">
                        <img
                            src="images/author-1.jpg"
                            alt=""
                            class="rounded-circle"
                        />
                        <div class="media-body">
                            <a href="#" class="author_name">Emran Khan</a>
                            <ul class="share_btn">
                                <li>
                                    <a href="#" class="active"
                                        ><i class="fa fa-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa fa-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa fa-pinterest"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa fa-instagram"></i
                                    ></a>
                                </li>
                            </ul>
                            <p>
                                Child sponsorship is a unique relationship, that
                                brings real hope and a life-af-firming
                                experience. Sponsorship gives children and their
                                communities life-changing
                            </p>
                        </div>
                    </div>
                    <div class="comments_area">
                        <div class="c_tittle">
                            <h2>Comments (3)</h2>
                        </div>
                        <div class="comment media">
                            <img
                                src="images/comment-a-1.jpg"
                                alt=""
                                class="rounded-circle"
                            />
                            <div class="media-body">
                                <a href="#">Simran Jastic</a>
                                <span>3 months ago</span>
                                <p>
                                    My birthday is on the 15th February. My
                                    favourite game is playing with dolls. In Koh
                                    Krolor life is hard for children like me.
                                </p>
                                <a href="#" class="theme_btn">Reply</a>
                            </div>
                        </div>
                        <div class="comment media">
                            <img
                                src="images/comment-a-2.jpg"
                                alt=""
                                class="rounded-circle"
                            />
                            <div class="media-body">
                                <a href="#">Mahfuz R</a>
                                <span>2 months ago</span>
                                <p>
                                    My birthday is on the 15th February. My
                                    favourite game is playing with dolls. In Koh
                                    Krolor life is hard for children like me.
                                </p>
                                <a href="#" class="theme_btn">Reply</a>

                                <div class="comment media">
                                    <img
                                        src="images/comment-a-3.jpg"
                                        alt=""
                                        class="rounded-circle"
                                    />
                                    <div class="media-body">
                                        <a href="#">Asfia A</a>
                                        <span>1 months ago</span>
                                        <p>
                                            My birthday is on the 15th February.
                                            My favourite game is playing with
                                            dolls. In Koh Krolor life is hard
                                            for children like me.
                                        </p>
                                        <a href="#" class="theme_btn">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Leave a Comment -->
                    <div class="leave_comment">
                        <div class="c_tittle">
                            <h2>Leave a Comment</h2>
                        </div>
                        <form class="row comment_from">
                            <div class="form-group col-12">
                                <textarea
                                    class="form-control comment_box"
                                    name="message"
                                    placeholder="Your Comment"
                                ></textarea>
                            </div>
                            <div class="form-group col-lg-4">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Name"
                                />
                            </div>
                            <div class="form-group col-lg-4">
                                <input
                                    type="email"
                                    class="form-control"
                                    name="email"
                                    placeholder="Email"
                                />
                            </div>
                            <div class="form-group col-lg-4">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="phone"
                                    placeholder="Phone"
                                />
                            </div>
                            <div class="form-group col-12">
                                <button class="theme_btn" type="submit">
                                    Submit Request
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Right sidebar -->
            <div class="col-lg-4 right_sidebar">
                <!-- Widget -->
                <div class="widget">
                    <h4>What is crowdfunding?</h4>
                    <p>
                        Crowdfunding is a new type of fundraising where you can
                        raise funds for your own personal cause, even if you're
                        not a registered charity.
                    </p>
                    <a href="#" class="bv_button"
                        >BECOME A VOLUNTEER <i class="fa fa-arrow-right"></i
                    ></a>
                </div>
                <!-- Widget -->
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text"
                            ><i class="fa fa-search"></i
                        ></span>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget">
                    <h3 class="w_heding">Categories</h3>
                    <ul class="categories">
                        <li>
                            <a href="#" class="active"
                                >Humanity <span>(08)</span></a
                            >
                        </li>
                        <li>
                            <a href="#">Become a Volunteer <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">How Can You Help <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Helping Children <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Safety & Privacy <span>(08)</span></a>
                        </li>
                        <li>
                            <a href="#">Education for all <span>(08)</span></a>
                        </li>
                    </ul>
                </div>
                <!-- Widget -->
                <div class="widget">
                    <h3 class="w_heding">Recent Causes</h3>
                    <div class="media r_causes first">
                        <a href="#"
                            ><img src="images/r-widget-1.jpg" alt=""
                        /></a>
                        <div class="media-left">
                            <a href="#" class="heding"
                                >Crowdfunding Popularity Continues
                            </a>
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                    <div class="media r_causes">
                        <a href="#"
                            ><img src="images/r-widget-2.jpg" alt=""
                        /></a>
                        <div class="media-left">
                            <a href="#" class="heding"
                                >Reported Charity Salaries May Not Tell the Full
                                Story</a
                            >
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                    <div class="media r_causes">
                        <a href="#"
                            ><img src="images/r-widget-3.jpg" alt=""
                        /></a>
                        <div class="media-left">
                            <a href="#" class="heding"
                                >Several years ago most people probably
                            </a>
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                    <div class="media r_causes">
                        <a href="#"
                            ><img src="images/r-widget-4.jpg" alt=""
                        /></a>
                        <div class="media-left">
                            <a href="#" class="heding"
                                >Donation for Poor rural Children</a
                            >
                            <h6>$5000 raised / <span>Goal: $11000</span></h6>
                        </div>
                    </div>
                </div>

                <!-- Widget -->
                <div class="widget ew">
                    <h3 class="w_heding">Upcoming Event</h3>
                    <div
                        class="carousel slide event_slide"
                        data-ride="carousel"
                    >
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#"
                                    ><img src="images/event-5.jpg" alt=""
                                /></a>
                                <a href="#" class="heding"
                                    >Help families and communities access the
                                    medicine</a
                                >
                                <ul>
                                    <li>
                                        <span class="icon"
                                            ><i
                                                class="fa fa-calendar"
                                            ></i></span
                                        >Started on : 10.00 am to 5.00 pm
                                        <span>( 25 July,2019 )</span>
                                    </li>
                                    <li>
                                        <span class="icon"
                                            ><i class="fa fa-map-marker"></i
                                        ></span>
                                        201 Creative St, NY 10021
                                        <span>Find on Google map</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a href="#"
                                    ><img src="images/event-5.jpg" alt=""
                                /></a>
                                <a href="#" class="heding"
                                    >Donation for Poor rural Children the
                                    medicine</a
                                >
                                <ul>
                                    <li>
                                        <i class="fa fa-calendar"></i>Started on
                                        : 10.00 am to 5.00 pm
                                        <span>( 25 July,2019 )</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i> 201
                                        Creative St, NY 10021
                                        <span>Find on Google map</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <a href="#"
                                    ><img src="images/event-5.jpg" alt=""
                                /></a>
                                <a href="#" class="heding"
                                    >Donation for Poor rural Children the
                                    medicine</a
                                >
                                <ul>
                                    <li>
                                        <i class="fa fa-calendar"></i>Started on
                                        : 10.00 am to 5.00 pm
                                        <span>( 25 July,2019 )</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i> 201
                                        Creative St, NY 10021
                                        <span>Find on Google map</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <ol class="carousel-indicators">
                            <li
                                data-target=".event_slide"
                                data-slide-to="0"
                                class="active"
                            ></li>
                            <li
                                data-target=".event_slide"
                                data-slide-to="1"
                            ></li>
                            <li
                                data-target=".event_slide"
                                data-slide-to="2"
                            ></li>
                        </ol>
                    </div>
                </div>
                <!-- Widget -->
                <div class="widget supporters_w">
                    <h3 class="w_heding">Supporters <span>325</span></h3>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left">
                            <a href="#"
                                >Emran Khan <span>25 July,2019 </span></a
                            >
                            <h6>All the love to Uttara</h6>
                        </div>
                    </div>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left">
                            <a href="#"
                                >Amanda Ferrari <span>25 July,2019 </span></a
                            >
                            <h3>$20.00</h3>
                        </div>
                    </div>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left">
                            <a href="#"
                                >Charlotte Fisk <span>25 July,2019 </span></a
                            >
                            <h3>$40.00</h3>
                        </div>
                    </div>
                    <div class="media supporters">
                        <img src="images/r-widget-5.jpg" alt="" />
                        <div class="media-left border-0">
                            <a href="#"
                                >Dana Hayden <span>25 July,2019 </span></a
                            >
                            <h6>
                                You’re amazing for doing this! Get better fast
                                gazipur
                            </h6>
                            <h3>$60.00</h3>
                        </div>
                    </div>
                    <a href="#" class="theme_btn">Show More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Causes Area -->

<!-- Customers_more Area -->
<section class="customers_more">
    <div class="container">
        <h3>
            Join 100,000+ people raising money for personal causes on Crowdhelp
        </h3>
        <a href="#" class="theme_btn">Donation Now</a>
    </div>
</section>
<!-- End Customers_more Area -->
