<!-- Footer Area -->
<footer class="footer_area">
    <div class="container">
        <div class="footer_inner row">
            <div class="col-lg-4 col-md-6 footer_logo">
                <a href="/"><img class="logo" src="/images/integrame/id_logo_white.svg" alt=""></a>
                <p>
                    La organización Intégrame Down A. C. ofrece servicios especializados para 
                    el desarrollo integral de personas con síndrome de Down.
                </p>
                <ul class="footer_social">
                    <li>
                        <a href="https://www.facebook.com/IntegrameDown/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/integramedown/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/integramedown?lang=es" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
                <a href="#" class="request_btn"
                    >Haz una donación <i class="fa fa-arrow-right"></i
                ></a>
            </div>
            <ul class="col-lg-4 col-md-6 campaign">
                <li>
                    <a href="#">Campaign For Build Diamond Future Orphan</a>
                </li>
                <li>
                    <a href="#"
                        >New Award To Support Children Affected by Crises</a
                    >
                </li>
                <li>
                    <a href="#"
                        >The right employers' liability insur-ance for
                        restaurant owners</a
                    >
                </li>
            </ul>
            <div class="col-lg-4 col-md-6">
                <div class="quick_contact">
                    <h4>Contacto rapido</h4>
                    <div class="media">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <div class="media-body">
                            <h6>Email:</h6>
                            <a href="mailto:integrameac@gmail.com">integrameac@gmail.com</a>
                        </div>
                    </div>
                    <div class="media m-0">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="media-body">
                            <a href="tel:+524448252431" class="phone_no">+52 444-825-2431</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_menu">
            <ul class="footer_nav col-lg-8">
                <li><a href="#">Inicio </a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Servicios </a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
            <div class="col-lg-4">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Introduce tu dirección email"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text"
                            ><i class="fa fa-paper-plane-o"></i
                        ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>
            <a href="#">Intégrame Down A. C.</a> © 2021 Todos los derechos reservados
        </p>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Scroll Top Button -->
<button class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</button>

<!-- Preloader -->
<div id="preloader"></div>

<!-- jQuery v3.3.1 -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap v4.0.0 -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<script src="/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- Extra Plugin -->
<script src="/vendors/animate-css/wow.min.js"></script>
<script src="/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="/vendors/counterup/jquery.waypoints.min.js"></script>
<script src="/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/vendors/circular-progress/pie-chart.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/bootstrap-selector/jquery.nice-select.min.js"></script>

<!-- Extra Plugin (details)-->
<script src="/vendors/animate-css/wow.min.js"></script>
<script src="/vendors/countdown/dscountdown.min.js"></script>
<script src="/vendors/counterup/jquery.waypoints.min.js"></script>

{{#if gallery}}
<!-- Extra Plugin (gallery)-->
<script src="/vendors/animate-css/wow.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope.pkgd.min.js"></script>
{{/if}}

{{#if contact}}
<!-- Extra Plugins maps -->
<!-- Contact From js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="/js/gmaps.min.js"></script>

{{/if}}
<!-- Theme js / Custom js -->
<script src="/js/theme.js"></script>


{{!-- EditorJS Admin --}}
{{#if adminEventScript}}
<script src="/js/adminevent/bundle.js"></script>
{{/if}}

{{!-- EditorJS event-details --}}
{{#if eventDetailsScript}}
<script src="/js/eventdetails/bundle.js"></script>
{{/if}}