<!-- Footer Area -->
<footer class="footer_area">
    <div class="container">
        <div class="footer_inner row">
            <div class="col-lg-4 col-md-6 footer_logo">
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
                <p>
                    The Crowdhope charity provides enhanced services over and
                    above what the NHS funds. help child
                </p>
                <ul class="footer_social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
                <a href="#" class="request_btn"
                    >Request a free quote <i class="fa fa-arrow-right"></i
                ></a>
            </div>
            <ul class="col-lg-4 col-md-6 campaign">
                <li>
                    <a href="#">Campaign For Build Diamond Future Orphan</a>
                </li>
                <li>
                    <a href="#"
                        >New Award To Support Children Affected by Crises</a
                    >
                </li>
                <li>
                    <a href="#"
                        >The right employers' liability insur-ance for
                        restaurant owners</a
                    >
                </li>
            </ul>
            <div class="col-lg-4 col-md-6">
                <div class="quick_contact">
                    <h4>Quick Contact</h4>
                    <div class="media">
                        <img src="images/newsletter.png" alt="" />
                        <div class="media-body">
                            <h6>Email:</h6>
                            <a href="info@yoursite.com">info@yoursite.com</a>
                        </div>
                    </div>
                    <div class="media m-0">
                        <img src="images/phone.png" alt="" />
                        <div class="media-body">
                            <a href="#" class="phone_no">+880 - 1234567890</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_menu">
            <ul class="footer_nav col-lg-8">
                <li><a href="#">Charity </a></li>
                <li><a href="#">Term &amp; Conditions</a></li>
                <li><a href="#">FIND AN AGENT</a></li>
                <li><a href="#">PAGES</a></li>
                <li><a href="contact.html">CONTACTS</a></li>
            </ul>
            <div class="col-lg-4">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Your Email Address"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text"
                            ><i class="fa fa-paper-plane-o"></i
                        ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>
            <a href="#">Crowdhope</a> © 2019 All Rights Reserved Terms of Use
            and Privacy Policy
        </p>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Scroll Top Button -->
<button class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</button>

<!-- Preloader -->
<div id="preloader"></div>

<!-- jQuery v3.3.1 -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap v4.0.0 -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- Extra Plugin -->
<script src="vendors/animate-css/wow.min.js"></script>
<script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="vendors/counterup/jquery.waypoints.min.js"></script>
<script src="vendors/counterup/jquery.counterup.min.js"></script>
<script src="vendors/circular-progress/pie-chart.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/bootstrap-selector/jquery.nice-select.min.js"></script>

<!-- Theme js / Custom js -->
<script src="js/theme.js"></script>
