// Extra Large devices (desktops, less than 1231px)
@media (max-width: 1590px){ 
	.quickly_easily{
		overflow: hidden;
		&:before, &:after{
			display: none;
		} 
	}
}
// Large devices (desktops, less than 1231px)
@media (max-width: 1440px) { 
	.latestc_causes .causes {
		.theme_btn{
			min-width: 130px;
		}
		.btn_2{
			min-width: 120px;
		}
	}
}
@media (max-width: 1199px) { 
	.top_header_area .left_menu li .help{
		margin-left: 70px;
	}
	.mha_2 .header_menu .navbar .navbar_supported ul{
		padding-left: 40px;
	}
	.footer_area .footer_inner .campaign {
        padding-left: 15px;
        padding-right: 15px; 
    } 
	.customers_more {
		text-align: center;
		h3{
			margin: 0 auto;
			float: none;
		}
		.theme_btn{
			float: none;
		} 
	}
	.about_croudhelp .about_content .content{
		padding-left: 15px;
		padding-right: 15px;
		h2{
			font-size: 24px;
			line-height: 30px;
		}
	}
	.ac_2 .about_content .content_video{
		right: -15px;
	}
	.become_inner{
		text-align: center;
		&:before{
			display: none;
		}
		p{
			padding-top: 10px;
		}
		.theme_btn{
			position: initial;
			margin-top: 20px;
		}
	}
	.testimonial_area .testimonial_slide .media{
		margin-left: 0;
	}
	.ue_2 {
		.event_b{
			max-width: 585px;
			margin: 0 auto;
		}
	}
	.charity_communities .content .theme_btn {
		position: initial;
		margin-top: 30px;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {   
	.top_header_area {
		padding: 10px 0;
		.left_menu {
			.right_nav{
				text-align: center;
			}
		}
		.header_social{
			float: none; 
			text-align: center;
			justify-content: center;
		}
	} 
	.header_top_area{
		.left_menu {
			display: none;
		}
		.header_social{
			float: none;
			text-align: center;
			li {
				a{
					line-height: 50px !important;
					&.theme_btn{
						min-width: 150px;
					} 
				}
				&.login_btn a{
					border: 0;
				}
			}
		}
	}
    .main_header_area{ 
        .header_menu {
            position: relative;
            .navbar{  
                width: 100%;
                .navbar-toggler{ 
                    font-size: 30px;
                    color: #fff;
                    padding: 0;
                    margin: 0;
                    padding-left: 20px;
                    line-height: 70px;
                    border: 0;
					i{
						position: relative;
						top: 2px;
					}
                    &:hover, &:focus{
                        
                    } 
                }
                .navbar-nav{ 
                    margin: 0; 
                    border-top: 1px solid #fff;
                    max-height: 370px;
                    overflow-y: auto;
                    padding-left: 0 !important;
                    li{
                        border-bottom: 1px solid #fff;
                        &:last-child{
                            border: 0
                        }
                        a{ 
                            line-height: 45px !important;
                            margin: 0 20px !important;
                            &:after{
                                display: none !important;
                            }
                        }
                        &.dropdown{
                            position: relative;
                            &:after{
                                content: "\f103";
                                position: absolute;
                                top: 0;
                                right: 20px;
                                font: normal normal normal 15px/48px FontAwesome;
                                color: #fff;
                            }
                            .dropdown-menu{
                                background-color: transparent;
                                border: 0;
                                border-top: 1px solid #fff;
                                &:before{
                                    display: none;
                                }
                                li a{ 
                                    border: 0;
                                    color: #fff; 
                                    &:hover, &:focus, &.active{
                                        color: #fff;
                                        border: 0;
                                    }
                                }
                                .dropdown:after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }  
            
            .search_button_content {
                position: absolute;
                right: 0;
                top: 0; 
                .search_dropbown a{
                    line-height: 70px !important;
                }
            }
        } 
		&.navbar_fixed .header_menu .navbar .navbar-toggler{
			line-height: 60px;
		}
    }  
	.mha_2 .header_menu {
		.navbar .navbar_supported ul{
			background: $bc;
			li{
				a:before{
					display: none;
				}
			}
		}
		.search_button_content {
			right: 20px;
			li .call_support{
				display: none;
			}
			.search_dropbown a{
				padding-right: 10px;
				margin-top: 7px !important;
			}
		}
		
		.navbar .navbar-toggler{
			z-index: 999;
		} 
	}
	.header{
		position: relative;
		background: #000;
	}
	.footer_area {
        padding-top: 40px;
        .footer_inner .quick_contact{
            margin-top: 30px;
        }
        .footer_menu .input-group{
            margin-top: 30px;
        }
    }
	.meet_kids_area{
		padding: 100px 0;
		.meet_video {
			padding-right: 15px;
			.video_inner{
				max-width: 600px; 
			}
		}
		.story_col{
			padding-left: 15px;
		}
	}
	.quickly_easily h2{
		font-size: 24px;
		line-height: 30px;
	}
	.about_croudhelp{
		display: block;
		.about_img{
			padding: 0 15px 30px;
		}
		.about_content {
			.content h4{
				padding-bottom: 15px;
			}
			.content_video{
				padding-left: 15px;
				margin: 0;
			}
		}
	}
	.testimonial_area .testimonial_slide {
		.media{
			margin-left: 0;
		}
		.t_text{
			padding: 20px 15px 40px;
		}
	}
	.latest_news .tittle_2{
		padding-bottom: 20px;
	}
	.ac_2 {
		padding-bottom: 80px;
		.about_content .content_video{
			right: 0;
			padding-right: 15px;
			padding-bottom: 40px;
		}
	}
	.pages_banner{
		padding-top: 200px;
		h2{
			font-size: 25px;
		}
		.breadcrumb{
			padding-top: 60px;
		}
	}
	.history_area .history_content{
		padding-left: 15px;
		padding-top: 40px;
	}
	.charity_communities {
		.content .small_p{
			padding-left: 15px;
		}
		.orphans_life{
			padding: 20px;
			text-align: center;
			.media{
				display: block;
				.popup-youtube{
					margin: 0 auto;
				}
				.media-body{
					padding-left: 0;
					padding-top: 30px;
					p{
						font-size: 18px;
						line-height: 26px;
					}
				}
			}
		}
	}
	.right_sidebar{
		padding-top: 80px;
	}
	.make_donation .donation_faq .donation_c{
		padding: 0 15px !important;
	}
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
	.main_slider_area #main_slider .theme_btn{
		min-width: 150px !important;
		font-size: 15px !important;
		line-height: 45px !important;
	}
	.latestc_causes{
		padding: 100px 0 70px;
	}
	.tittle {
		h2{
			font-size: 24px;
			padding-bottom: 40px;
		}
		p{
			font-size: 16px;
			margin-top: 10px;
		}
	}
	.about_croudhelp .about_content .content_video{
		display: block; 
		padding-right: 15px;
		padding-top: 0;
		.video_inner{
			justify-content: left;
			max-width: 377px;
			margin-top: 30px;
			.popup-youtube{
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
		.video_p{
			max-width: 100%;
			padding-left: 0;
		}
	}
	.latest_news {
		.tittle_2 {
			h2{
				font-size: 25px;
				line-height: 35px;
			}
			 .theme_btn{
				float: none;
			}
		}
		.news_items{
			max-width: 370px;
			margin: 0 auto 30px;
		}
	}
	.crowdhope_charity {
		h2{
			font-size: 25px;
			line-height: 35px;
		}
		h3{
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 20px;
		}
		.mission_from .form-group{
			margin-bottom: 20px;
			.theme_btn{
				margin: 0;
			}
		}
	}
	.volunteer_area{
		padding: 80px 0 50px;
	}
	.customers_more h3{
        font-size: 20px;
        line-height: 35px;
    }
	.cc_2 .mission_from h3 {
		padding-top: 10px;
	}
	.become_inner {
		padding: 25px 15px;
		h3{
			font-size: 20px;
		}
	}
	.history_area{
		padding: 80px 0;
	}
	.charity_communities .content h2{
		font-size: 25px;
		line-height: 35px;
	}
	.cm_2 {
		margin-top: 0;
	}
	.list_causes{
		padding-top: 60px;
		.causes{
			max-width: 370px;
			margin: 0 auto;
			min-width: auto;
			.causes_img{
				margin: 40px 0 20px;
			}
		}
		.load_more .theme_btn{
			margin-top: 50px;
		}
	}
	.donations_details{
		h2{
			font-size: 25px;
			line-height: 35px;
		}
		.raised{
			display: block;
			text-align: center;
		   .s_chart{
				margin: 20px auto;
			}
		}
	}
	.details{
		 h2{
			font-size: 20px;
			line-height: 30px;
		}
		.slider_end_p{
			font-size: 18px;
			line-height: 30px;
		}
	}
	.donations_details .datails_timar{
		padding-bottom: 10px;
		.timer {
			padding-bottom: 15px;
		}
		.book_now{
			position: initial;
		}
		.event_date li .theme_btn{
			margin: 0;
		}
	}
	.details_2 iframe{
		height: 300px;
	}
	.grid_gallery_area .grid_gallery_inner .grid_gallery_item_inner .grid_gallery_item{
		max-width: 370px;
		margin: 0 auto 30px;	
	}
	.faq_area .faq_items{
		padding-bottom: 30px;
	}
	.map_area .mapBox{
		height: 300px;
	}
	.main_slider_area #main_slider{
		.tb_2, .tb_3{
			display: none;
		}
	}
} 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	.top_header_area {
		.header_social li {
			&.login_btn{
				padding-right: 0;
				padding-left: 20px;
			}
			.call_support{
				display: none;
			}
		}
		.left_menu li{
			&:last-child{
				display: none;
			}
			.help{
				margin-right: 0;
			}
		}
	}
	.main_header_area .header_menu .search_button_content li {
		.theme_btn{
			min-width: 130px;
			font-size: 15px;
		}
		&.search_dropbown{
			padding: 0 20px;
		}
	}
	.footer_area .footer_inner .quick_contact { 
        padding: 30px 15px;
        .media{
            margin-bottom: 30px;
            .media-body .phone_no{
                font-size: 16px;
            }
        }
    } 
	.meet_kids_area .story_col .change_story {
		padding: 30px 20px;
		.media{
			display: block;
			.media-body{
				text-align: left;
				margin-top: 20px;
			}
		}
		.time{
			padding-top: 15px;
		}
	}
	.quickly_easily{
		h2{
			font-size: 20px; 
		}
		p{
			font-size: 16px;
			padding-top: 10px;
		}
		.call_support{
			padding: 0;
			display: block;
			padding-top: 10px;
		}
	}
	.upcoming_event {
		.tittle{
			padding-bottom: 40px;
		}
		.event{
			padding-left: 0 !important;
			padding-bottom: 30px !important;
			h2{
				margin-right: 20px;
				b{
					font-size: 30px;
					margin-bottom: 10px;
				}
			}
			.media-body{
				padding-left: 15px;
				padding-top: 0;
				a{
					font-size: 18px;
					line-height: 26px;
				}
				h6 span{
					display: block;
					padding: 0;
					padding-top: 5px;
				}
			}
		}
		.event_right{
			padding-left: 15px;
		}
	
	}
	.testimonial_area{
		padding: 100px 0;
		 .testimonial_slide .item{
			max-width: 370px; 
			margin: 0 auto;
		}
	}
	.comments_area .comment{
		display: block;
		text-align: center;
		.media-body{
			padding-left: 0;
			padding-top: 20px;
		}
	}
	.details .author {
		display: block;
		text-align: center;
		.media-body {
			padding-left: 0;
			padding-top: 20px;
			.share_btn{
				float: none;
				display: block;
				padding-top: 5px;
				li a{
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
	}
	.events_item{
		padding-bottom: 20px;
		margin-bottom: 30px;
		.media {
			.media-body {
				padding-left: 15px;
				h6 span{
					padding: 0;
					padding-top: 5px;
					display: block;
				}
				a{
					font-size: 16px;
					line-height: 26px;
					padding-top: 7px;
				}
			}
			h2{
				margin-right: 15px;
				 b{
					font-size: 30px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.make_donation .donation_faq{
		padding: 30px 15px;
		.time_btn .theme_btn{
			margin-bottom: 5px;
		}
	} 
	.blog_details .details_inner h2{
		font-size: 25px;
	}
}

// Extra small devices (portrait phones, less than 360px and 420px) 
@media (max-width:420px){
	.main_slider_area #main_slider .theme_btn {
		min-width: 100px !important;
		font-size: 10px !important;
		line-height: 27px !important;
	}
	.widget .supporters .media-left a span{
		float: left;
		padding: 5px 0;
	}
	.blog_area .pagination li.dot{
		margin: 0;
		padding-right: 1px;
	}
}
@media (max-width: 360px) {

}